*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.93);
    color: white;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: none;
}

.container{
    width: min(90vw, 600px); 
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* ---------------------------- TITLE --------------------------------- */
h1{
    letter-spacing: 10px;
    text-align: center;
}

/* ------------------------------ BOARD ---------------------------------- */
.board{
    width: 70%;
    display:grid;
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);

    place-items: center;
    
    gap: 6px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.board span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid whitesmoke;
    min-height: 60px;
    min-width: 50px;   
}

.incorrect{
    background-color: gray;
}
.exist{
    background-color: rgba(255, 255, 0, 0.611);
}
.correct{
    background-color: green;
}



/* ---------------------------------- KEYBOARD ----------------------------------- */
.keyboard{
    display: flex;
    flex-direction: column;

    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
}

.row{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.row2{
    grid-template-columns: repeat(9, 1fr);
    margin: 0px 10px;
}

.keyboard span{
    background-color: rgb(65, 65, 65);
    cursor: pointer;
    margin: 4px;
    height: 35px;
}
.keyboard span:hover{
    border: 1px solid white;
}
.enter{
    grid-column: span 2;
}